<div style="margin-top: 20px;" *ngFor="let t of triviaViewModel; let i = index">
    <div>
      <b>Category: </b> <label>{{t.category}}</label>
    </div>
    <div>
      <b>Difficulty: </b> <label>{{t.difficulty}}</label>
    </div>
    <div>
      <b>Question {{i+1}}: </b> <label>{{t.question}}</label>
    </div>
    <div>
      <div><b>Options</b></div>
      <div *ngFor="let a of t.answers">
        <input type="radio" name="{{'optionsQ'+i}}" value="something"><label>{{a}}</label>
      </div>
    </div>
</div>
